@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

* {
	font-family: sans-serif;
	chrome-color: rgb(53, 161, 107);
}

s|Label {
	color: rgb(255, 255, 255);
}

s|Button {
	corner-radius: 4;
}

s|ButtonBar {
	corner-radius: 4;
}

s|SkinnableContainer {
	background-color: rgb(0, 0, 0);
	background-alpha: 0.8;
}

s|BorderContainer {
	background-color: rgb(0, 0, 0);
	background-alpha: 0.8;
	border-color: rgb(53, 161, 107);
	corner-radius: 4;
}

s|HGroup {
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	
}

s|VGroup {
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	
}

s|DataGrid {
	content-background-color: rgb(0, 0, 0);
	content-background-alpha: 0.8;
}

.current-record {
	color: rgb(255, 153, 0);
}

.main-title {
	color: rgb(53, 161, 107);
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}

.sub-title {
	font-size: 24px;
	text-align: center;
}

.title-menu {
	font-size: 24px;
	corner-radius: 8;
}

.hard-mode {
	chrome-color: rgb(255, 40, 0);
}

.back {
	chrome-color: rgb(0, 65, 255);
}

.start {
	font-size: 24px;
	chrome-color: rgb(255, 153, 0);
}

.menu-label {
	background-color: rgb(0, 0, 0);
	background-alpha: 0.8;
}

.enterButton {
	font-size: 24px;
	corner-radius: 40;
}

.field-record {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.level-up {
	color: rgb(102, 204, 255);
}

.all-clear {
	color: rgb(250, 245, 0);
}

.break-line {
	color: rgb(250, 245, 0);
}

.break-combo-score {
	color: rgb(102, 204, 255);
	text-align: center;
}

.break-line-score {
	color: rgb(250, 245, 0);
	text-align: center;
}

.obstacle-record {
	color: rgb(255, 153, 0);
	text-align: center;
}

.ready {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.game-over {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: rgb(255, 40, 0);
	background-color: rgb(0, 0, 0);
	background-alpha: 0.8;
}

.game-clear {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: rgb(250, 245, 0);
	background-color: rgb(0, 0, 0);
	background-alpha: 0.8;
}

.chat-text {
	color: rgb(255, 255, 255);
	focused-text-selection-color: rgb(255, 255, 255);
	inactive-text-selection-color: rgb(255, 255, 255);
	unfocused-text-selection-color: rgb(255, 255, 255);
}