@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face { 
    src: url("../font/NotoSansCJKjp-Regular.otf"); 
    fontFamily: noto-sans;
}

@font-face { 
    src: url("../font/NotoSansCJKjp-Black.otf"); 
    fontFamily: noto-sans-strong;
}

s|Application {
	locale: "ja-JP";
	font-family: noto-sans;
	font-size: 12px;
	color: rgb(255, 255, 255);
	chrome-color: rgb(53, 161, 107);
}

s|Label {
	text-align: center;
	line-break: explict;
}

s|Button {
	corner-radius: 4;
}

s|ButtonBar {
	corner-radius: 4;
}

s|SkinnableContainer {
	background-color: rgb(0, 0, 0);
	background-alpha: 0.8;
}

s|BorderContainer {
	background-color: rgb(0, 0, 0);
	background-alpha: 0.8;
	border-color: rgb(53, 161, 107);
	corner-radius: 4;
}

s|HGroup {
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	gap: 4px;
}

s|VGroup {
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	gap: 4px;
}

s|DataGrid {
	background-color: rgb(53, 161, 107);
	border-color: rgb(53, 161, 107);
	content-background-color: rgb(0, 0, 0);
	content-background-alpha: 0.8;
}

s|DefaultGridItemRenderer {
	color: rgb(255, 255, 255);
}

.current-record-item {
	color: rgb(255, 153, 0);
}

.title-menu {
	font-size: 24px;
	corner-radius: 8;
}

.hard-mode {
	chrome-color: rgb(255, 40, 0);
}

.howto {
	chrome-color: rgb(0, 65, 255);
}

.back {
	chrome-color: rgb(0, 65, 255);
}

.start {
	font-size: 24px;
	chrome-color: rgb(255, 153, 0);
}

.create-room {
	font-size: 24px;
}

.enterButton {
	font-size: 24px;
	corner-radius: 40;
}

.menu-label {
	background-color: rgb(0, 0, 0);
	background-alpha: 0.8;
}

.ready {
	font-family: noto-sans-strong;
	font-size: 24px;
}

.side-record {
	font-family: noto-sans-strong;
	font-size: 18px;
}

.field-record {
	font-family: noto-sans-strong;
}

.main-record {
	font-size: 24px;
}

.technical-spin {
	color: rgb(154, 0, 121);
}

.level-up {
	color: rgb(102, 204, 255);
}

.bonus {
	color: rgb(250, 245, 0);
}

.break-line {
	color: rgb(250, 245, 0);
}

.break-combo {
	color: rgb(102, 204, 255);
}

.plus-score {
	color: rgb(250, 245, 0);
}

.occur-obstacle {
	color: rgb(255, 153, 0);
}

.outcome {
	font-family: noto-sans-strong;
	font-size: 24px;
}

.game-over {
	color: rgb(255, 40, 0);
}

.game-clear {
	color: rgb(250, 245, 0);
}

.win {
	color: rgb(250, 245, 0);
}

.lose {
	color: rgb(102, 204, 255);
}

.chat-text {
	color: rgb(255, 255, 255);
	focused-text-selection-color: rgb(255, 255, 255);
	inactive-text-selection-color: rgb(255, 255, 255);
	unfocused-text-selection-color: rgb(255, 255, 255);
}